

<aside>

    <nav>
        <a href="/Dashboard/Dashboard">Dashboard</a>
        <a href="/Budget/Add">Add Budget</a>
        <a href="/Budget/Records">Budget History</a>
        <a href="/Report/Summary">Summary / Chartz</a>
        <a href="/Account/Logout">Logout</a>
    </nav>

</aside>

<main>
    <div class="dashboard-header">
        <h1>BUDGET RECORDS</h1>
        
    </div>
    <table class="record-container">
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Allowance</th>
        <th>Expenses</th>
        <th>Category</th>
        <th>Remaining Balance</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>@item.Description</td>
            <td>₱@item.Allowance</td>
            <td>₱@item.Expenses</td>
            <td>@item.Category</td>
            <td>₱@item.RemainingBalance</td>

            <td>
                <a href="/Budget/Edit/@item.Id">Edit</a>
                <a href="/Budget/Delete/@item.Id" onclick="return confirm('Delete this record?')">Delete</a>
            </td>
        </tr>
    }
        
</table>
</main>