@{
    ViewData["Title"] = "Home Page";
}

<aside>

    <nav>
        <a href="/Dashboard/Dashboard">Dashboard</a>
        <a href="/Budget/Add">Add Budget</a>
        <a href="/Budget/Records">Budget History</a>
        <a href="/Report/Summary">Summary / Chartz</a>
        <a href="/Account/Logout">Logout</a>
    </nav>

</aside>

    
<main id="main-content">

    <h2>Welcome to the Student Budget Tracking System </h2>

    <p>This system helps students manage their allowance and expenses.</p>

</main>



